*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html{
	margin: 0;
}
header{
	background-color: lightslategrey;
	height: 70px;
	margin-bottom: 70px;
	width: 100%;
	
}
h1{
	text-align: center;
	font-family: cursive;
	
}
p{
	margin: 10px;
	margin-top: 25px;
	
}
.row{
	margin: 10px;
	width: 100%;
	height: 100%;
}

.column{
	float:left;
	border: solid;
	border-width: 1.8px;
	margin: 0.5%;
	margin-left: 1.5%;
	position: relative;
	background-color: darkgray;	
	
}
.title_col{
	border: solid;
	border-width: 1.8px;
	border-top: none;
	border-right: none;
	position: absolute;
	left:70%;
	width: 30%;
	text-align: center;
}
.color1{
	background-color:salmon ;
}
.color2{
	background-color: red;
}
.color3{
	background-color: #f0de78;
}



@media(min-width:992px){
	.full{
	float: left;
	}
	.full{
		width:30%
	}
}
@media(min-width:768px) and (max-width:991px){
	.med1, .med2{
	float: left;
	}
	.med1{
		width: 46%;
		
	}
	.med2{
		width: 94%;
	}
}
@media(max-width:767px){
	.mob{
	float: left;
	}
	.mob{
		width: 90%;
		
	}
}